<header class="site-header">
  <div class="wrapper">
    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <nav class="site-nav">
      <div class="trigger">
        <a class="page-link" href="//jsdev.org/chat/">Chat</a>
        <a class="page-link" href="//jsdev.org/examples/">Open Source Projects</a>
        <a
          class="page-link"
          href="{{ site.baseurl }}/top-video-courses-for-study-js/"
          >Top Videos</a
        >
        <a class="page-link" href="/client/react/">React</a>
        <a class="page-link" href="/deploy/">Deploy</a>
        <a class="page-link" href="{{ site.baseurl }}/sitemap/">SiteMap</a>
      </div>
    </nav>
  </div>
</header>
