<header class="site-header">
  <div class="wrapper">
    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <nav class="site-nav">
      <div class="trigger">
        <a class="page-link" href="//jsdev.org/chat/">Chat</a>
        <a class="page-link" href="//jsdev.org/src/">Open Source Projects</a>
        <a
          class="page-link"
          href="{{ site.baseurl }}/web-developer-roadmap-2020/"
          >Web Developer Roadmap 2020</a
        >
        <a
          class="page-link"
          href="{{ site.baseurl }}/top-video-courses-for-study-js/"
          >Top Video Courses For Study JS</a
        >
        <a class="page-link" href="/frontend/react/">React</a>
        <a class="page-link" href="{{ site.baseurl }}/sitemap/">SiteMap</a>
      </div>
    </nav>
  </div>
</header>
